{% extends "accounts/base.html" %}

{% block title %}Login - {{ block.super }}{% endblock %}

{% block content %}

  <section>

    <form action="{% url "accounts:login" %}" method="post" class="">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />

      <fieldset>
        <h1>Login</h1>
        <ul>
          {{ form.as_ul }}
          <li><input type="submit" value="Login" class="button primary" /></li>
          <li><a href="{% url "accounts:password_reset" %}" class="button link">Set (or reset) your password</a></li>
        </ul>
      </fieldset>

    </form>

  </section>

{% endblock %}
