{% extends "accounts/base.html" %}

{% block title %}Password - {{ block.super }}{% endblock %}

{% block content %}

  <header>
    <h1>Password</h1>
  </header>

  <section class="main-content">
    <section class="content config">
      <h4 class="heading-main">Set your new password</h4>

      {% if validlink %}
      <form action="{{ request.path }}" method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
        {% csrf_token %}
        <fieldset>
          <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
          <ul>
            {{ form.as_ul }}
            <li class="controls">
              <input type="submit" value="Confirm" class="button highlight" />
              <a href="{% url "accounts:login" %}" class="back">&larr; Go back</a>
            </li>
          </ul>
        </fieldset>
      </form>
      {% else %}
        <p>The password reset link was invalid, possibly because it has already been used. Please <a href="{% url "accounts:password_reset" %}">request a new password reset</a>.</p>
      {% endif %}

    </section>
  </section>

{% endblock %}
